= floating_form_for(@book) do |f|

  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :name

  = f.association :genre

  = f.input :released_at

  = f.input :status

  = f.input :featured, wrapper: :custom_boolean_switch

  = f.input :pages

  = f.button :submit, class: "btn btn-success"
