= floating_form_for(@<%= singular_table_name %>) do |f|

  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  <%- attributes.each do |attribute| -%>
  <%- if Gem::Specification.find_all_by_name("turbo_editable").any? -%>
  = editable_input @<%= singular_table_name %>, :<%= attribute.name %> do
    <%- if attribute.reference? -%>
    = f.association :<%= attribute.name %>
    <%- elsif attribute.type == :boolean -%>
    = f.input :<%= attribute.name %>, wrapper: :custom_boolean_switch
    <%- elsif attribute.type == :text -%>
    = f.input :<%= attribute.name %>, as: :text, input_html: {rows: 5, style: "height: 100px;"}
    <%- else -%>
    = f.input :<%= attribute.name %>
    <%- end -%>
  <%- else -%>
  <%- if attribute.reference? -%>
  = f.association :<%= attribute.name %>
  <%- elsif attribute.type == :boolean -%>
  = f.input :<%= attribute.name %>, wrapper: :custom_boolean_switch
  <%- elsif attribute.type == :text -%>
  = f.input :<%= attribute.name %>, as: :text, input_html: {rows: 5, style: "height: 100px;"}
  <%- else -%>
  = f.input :<%= attribute.name %>
  <%- end -%>
  <%- end -%>

  <%- end -%>
  = f.button :submit, class: "btn btn-success"
