= floating_form_for(@<%= singular_table_name %>) do |f|

  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = editable_input @<%= singular_table_name %>, :<%= attribute.name %> do
      <%- if attribute.reference? -%>
      = f.association :<%= attribute.name %>
      <%- elsif attribute.type == :boolean -%>
      = f.input :<%= attribute.name %>, wrapper: :custom_boolean_switch
      <%- elsif attribute.type == :text -%>
      = f.input :<%= attribute.name %>, as: :text, input_html: {rows: 5, style: "height: 100px;"}
      <%- else -%>
      = f.input :<%= attribute.name %>, placeholder: "<%= attribute.name %>"
      <%- end -%>

  <%- end -%>
  .form-actions
    = f.button :submit, class: "btn btn-success"
